/* media quaries  contacts*/
/* tablet max-width 1199px */
@media (max-width: 1199px) {
    .container {
        width: 900px;
        padding: 0 15px;
    }

    /* header section */
    .trecking-top {
        width: 100%;
        padding: 0 15px;
    }

    // .header-nav {
    //     display: none;
    // }

    .header-nav-button {
        display: block;
        border: none;
        background-color: transparent;
    }

    /* main section */
    .inner-page {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .contact-row {
        flex-direction: column;
    }

    .title {
        font-size: 50px;
    }

    .contact-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .contact-block-content iframe {
        width: 100%;
        height: 310px;
    }

    .contact-block {
        width: calc(50% - 15px);
    }

    .contact-block-title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .contact-block:not(:last-child) {
        margin-bottom: 0;
    }

    .contact-block-list a {
        font-size: 18px;
    }

    .contact-block-list li {
        font-size: 18px;
    }

    .contact-block:not(:last-child) {
        margin-bottom: 40px;
    }

    .contact-form {
        width: 100%;
    }

    .checkbox-wrapper:not(:last-child) {
        margin-bottom: 17px;
    }
    .radio-wrapper:not(:last-child) {
        margin-bottom: 21px;
    }

    .buton-submit {
        font-size: 20px;
    }
    /* footer section */
    .footer {
        padding: 50px 0;
        min-height: 296px;
    }

    .footer-services {
        display: none;
    }

    .footer-name {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .footer-title {
        margin-bottom: 20px;
    }

    .footer-copyright p {
        font-size: 14px;
    }

    .footer-widgets {
        flex-shrink: 0;
        width: 495px;
    }

    .footer-copyright {
        width: 195px;
    }

    .footer-info {
        width: 195px;
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 15px;
    }
}

/* mobile max-width 899px */
@media (max-width: 899px) {
    .container {
        width: 600px;
    }

    /* main section */
    .inner-page {
        padding-bottom: 40px;
    }

    .title {
        font-size: 42px;
        margin-bottom: 30px;
    }

    .contact-info {
        flex-direction: column;
    }
    .contact-block {
        width: 100%;
    }

    .contact-block-list a {
        font-size: 18px;
    }

    .contact-form {
        padding: 30px;
    }

    .form-group-title {
        margin-bottom: 13px;
    }

    .buton-submit {
        font-size: 18px;
        padding: 0 30px;
        height: 46px;
    }
    /* footer section */
    .footer {
        padding: 40px 0;
        min-height: 420px;
    }

    .footer-row {
        flex-direction: column-reverse;
    }

    .footer-widgets {
        justify-content: space-between;
        margin-bottom: 50px;
        width: auto;
    }

    .footer-widgets > * {
        width: calc(50% - 15px);
    }
    .footer-copyright {
        width: auto;
    }

    .footer-name {
        margin-bottom: 20px;
    }

    .footer-info {
        margin-right: 0;
    }
}

/* mobile XS max-width 599px */
@media (max-width: 599px) {
    .container {
        width: 320px;
    }

    /* main section */
    .title {
        font-size: 28px;
        line-height: 1;
    }

    .contact-block-title {
        font-size: 20px;
    }

    .contact-block-list li:not(:last-child) {
        margin-bottom: 20px;
    }

    .contact-block-list a,
    .contact-block-list li {
        font-size: 16px;
    }

    .contact-info,
    .contact-block:not(:last-child) {
        margin-bottom: 30px;
    }

    .contact-block-content iframe {
        height: 157px;
    }

    .contact-form {
        padding: 20px 15px 30px;
    }

    .contact-block-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .form-group-row {
        flex-direction: column;
    }

    .form-group-row > .input + .input {
        margin-left: 0;
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-size: 16px;
    }

    .checkbox-wrapper:not(:last-child),
    .radio-wrapper:not(:last-child) {
        margin-bottom: 10px;
    }

    .form-group-row:last-child {
        margin-bottom: 0;
    }

    .checkbox-wrapper {
        display: flex;
    }

    .fake-checkbox {
        flex-shrink: 0;
    }

    /* footer section */
    .footer {
        min-height: 795px;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-copyright p {
        line-height: 1.4;
    }

    .footer-name {
        margin-bottom: 10px;
    }

    .footer-widgets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-services {
        display: block;
        width: auto;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .footer-contacts {
        width: auto;
    }

    .footer-info {
        margin-bottom: 40px;
    }

    .footer-contacts-content {
        align-items: center;
    }

    .footer-title {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .footer-nav-link {
        font-size: 16px;
        line-height: 1;
    }

    .footer-widgets > * {
        width: 100%;
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 10px;
    }
}
